<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CityDao">
<select id="queryall" resultType="com.entity.City">
    select id,name from city
</select>
<insert id="insert" parameterType="com.entity.City">
    insert  into  city
    values (#{id},#{name})
</insert>
    <delete id="delete" parameterType="String">
        delete from city
        where id=#{id}
    </delete>
</mapper>